<div layout="row" layout-align="center center" layout-wrap>
    <form name="projectForm" flex="100">
      <md-input-container>
        <label>Benutzername</label>
        <input name="description">
      </md-input-container>

      <md-input-container>
        <label>Passwort</label>
        <input type="password" name="clientName">
      </md-input-container>

      <div layout="row" layout-align="center center" layout-wrap>
        <md-button class="md-raised md-primary" style="display: block;" flex="100" ng-click="login()">login</md-button>
      </div>
    </form>
</div>
