<div layout-fill>
<md-grid-list md-cols="2" md-row-height="1:1" md-gutter="12px">
    <md-grid-tile style="background: darkred;" md-rowspan="1" md-colspan="2" ng-click="openQuest(user.masterQuest.id)">
        <md-progress-circular class="md-accent md-hue-1" md-mode="determinate"  md-diameter="100" value="90" md-diameter-sm="200" ></md-progress-circular>
        <md-grid-tile-footer> 
            <h3>{{user.masterQuest.name}} in Level: {{user.masterQuest.level}} mit:{{user.masterQuest.percentOfActualLevel}}%</h3>
        </md-grid-tile-footer>
    </md-grid-tile>



    <md-grid-tile style="background: darkblue;" md-rowspan="1" md-colspan="1" ng-repeat="quest in user.quests" ng-click="openQuest(quest.id)">
        <md-progress-circular class="md-accent md-hue-1" md-mode="determinate"  md-diameter="100" value="{{quest.percentOfActualLevel}}" md-diameter-sm="200"></md-progress-circular>
        <md-grid-tile-footer>
            <h3>{{quest.name}} in Level: {{quest.level}} mit:{{quest.percentOfActualLevel}}%</h3>
        </md-grid-tile-footer>
    </md-grid-tile>
</md-grid-list>
</div>