<div layout="row" layout-sm="column" layout-align="center center" layout-wrap>
  <md-list>
    <md-list-item>
      <i class="fa fa-circle-o"></i>
      <p style="padding-left: 0.6em">Drücken Sie den Scannen Knopf unten</p>
    </md-list-item>
    <md-list-item>
      <i class="fa fa-circle-o"></i>
      <p style="padding-left: 0.6em">Halten Sie das Smartphone ruhig auf den QR-Code</p>
    </md-list-item>
    <md-list-item>
      <i class="fa fa-circle-o"></i>
      <p style="padding-left: 0.6em">Sie erhalten ihren PF-Experience points</p>
    </md-list-item>
  </md-list>
</div>

<div layout="row" layout-sm="column" layout-align="center center" layout-wrap style="bottom: 2em;">
  <md-button class="md-raised md-primary" ng-click="scan()" style="">scannen</md-button>
</div>
