<div layout="row" layout-sm="column" layout-align="center center" layout-wrap>
  <md-list>
    <md-list-item>
      <i class="fa fa-angle-right"></i>
      <p style="padding-left: 1em; font-size: 0.9em;">Drücken Sie den Scannen Knopf unten</p>
    </md-list-item>
    <md-list-item>
      <i class="fa fa-angle-right"></i>
      <p style="padding-left: 1em; font-size: 0.9em;">Halten Sie das Smartphone ruhig auf den QR-Code</p>
    </md-list-item>
    <md-list-item>
      <i class="fa fa-angle-right"></i>
      <p style="padding-left: 1em; font-size: 0.9em;">Sie erhalten ihren PF-Experience points</p>
    </md-list-item>
  </md-list>
</div>

<div layout="row" layout-sm="column" layout-align="center center" layout-wrap style="bottom: 2em;">
  <md-button class="md-raised md-primary" ng-click="scan()" flex="100" style="width: 98%">scannen</md-button>
</div>
