* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

md-sidenav {
    z-index: 60;
}

md-sidenav.open {
    box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);
}

.md-toolbar-tools > * {
    overflow: hidden;
    text-overflow: ellipsis;
}

md-sidenav md-toolbar .md-toolbar-tools {
    padding: 0px 28px;
}

.menu-item[is='selected'] {
    background: rgba(88, 65, 37, 0.22);
}

md-backdrop.md-opaque.md-default-theme {
    background-color: rgba(0, 0, 0, 0.3);
}

md-button {
    border-radius: 2px;
    padding: 14px 20px;
    font-size: 14px;
}

md-list {
    display: block;
}

md-list md-item {
    display: block;
}

md-tabs.md-pf-theme .md-header {
    overflow-x: hidden;
}

md-toolbar {
    box-shadow: none;
}

md-radio-group {
    border-style: none;
}

.md-content-padding {
    padding: 20px;
}

.md-tile-left {
    text-align: center;
}

[scroll-y] {
    overflow-y: auto !important;
    -webkit-overflow-y-scrolling: touch;
    overflow-x: hidden;
}

@media screen and (min-width: 600px) {
    [scroll-y-gt-sm] {
        overflow-y: auto !important;
        -webkit-overflow-y-scrolling: touch;
        overflow-x: hidden;
    }
}

@media screen and (min-width: 960px) {
    [scroll-y-gt-md] {
        overflow-y: auto !important;
        -webkit-overflow-y-scrolling: touch;
        overflow-x: hidden;
    }
}

.row > * {
    font-size: inherit;
    margin: 0 8px;
    float: left;
}

[block] input {
    width: 100%;
}

input {
    border-radius: 0;
}

.pf-compare-interval-text {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pf-compare-interval-text span {
    height: 56px;
    line-height: 56px;
    font-size: 20px;
}

.md-button.md-pf-theme.pf-fab {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    transform: translate3d(0, 0, 0);
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.md-button.md-pf-theme.pf-fab.md-warn {
    color: #f44336;
}

.md-button.md-pf-theme.pf-fab.md-warn:hover:active {
    background-color: rgba(244, 67, 54, 1);
    color: #ffffff;
}

md-progress-circular.md-hue-1.md-accent .md-inner .md-gap {
    border-top-color: #4E342E !important;
    border-bottom-color: #4E342E !important;
}

md-progress-circular.md-hue-1.md-accent .md-inner .md-left .md-half-circle {
    border-left-color: #4E342E !important;
}
md-progress-circular.md-hue-1.md-accent .md-inner .md-left .md-half-circle, md-progress-circular.md-hue-1.md-accent .md-inner .md-right .md-half-circle {
    border-top-color: #4E342E !important;
}

md-progress-circular.md-hue-1.md-accent .md-inner .md-right .md-half-circle {
    border-right-color: #4E342E !important;
}

md-progress-circular.md-hue-1.md-accent .md-inner .md-left .md-half-circle, md-progress-circular.md-hue-1.md-accent .md-inner .md-right .md-half-circle {
    border-top-color: #4E342E !important;
}



md-progress-circular.md-hue-2.md-accent .md-inner .md-gap {
    border-top-color: #FFC400 !important;
    border-bottom-color: #FFC400 !important;
}

md-progress-circular.md-hue-2.md-accent .md-inner .md-left .md-half-circle {
    border-left-color: #FFC400 !important;
}

md-progress-circular.md-hue-2.md-accent .md-inner .md-left .md-half-circle, md-progress-circular.md-hue-2.md-accent .md-inner .md-right .md-half-circle {
    border-top-color: #FFC400 !important;
}

md-progress-circular.md-hue-2.md-accent .md-inner .md-right .md-half-circle {
    border-right-color: #FFC400 !important;
}

md-progress-circular.md-hue-2.md-accent .md-inner .md-left .md-half-circle, md-progress-circular.md-hue-2.md-accent .md-inner .md-right .md-half-circle {
    border-top-color: #FFC400 !important;
}

md-grid-list md-grid-tile md-grid-tile-header, md-grid-list md-grid-tile md-grid-tile-footer {
  height: 35px !important;
}

.gandalf_der_graue {
  background: gray !important;
  opacity: 0.5 !important;
}

.gold {
  color: #FFD700 !important;
}
